---
layout: default
---

<link rel="stylesheet" href="/assets/css/bootstrap-grid.min.css">
<link rel="stylesheet" href="/assets/css/index.css">

<!-- <div class="home"> -->
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  <!-- <img src="/assets/svg/front-blob.svg" width="80%"/> -->
  <div id="wave-container" class="container-fluid">
    <div class="row justify-content-center">
      <div class="col-auto" style="width: 100%">
        <!-- <i class="svg-out"></i> -->
        <svg id="wave-svg" viewBox="0 0 100 70" class="svg-out">
          <path
            id="final-path"
            stroke="rgb(67.8, 84.7, 90.2)" 
            stroke-width="1"
            fill="rgb(67.8, 84.7, 90.2)"
            d="m1,1" />
        </svg>
      </div>
    </div>
  </div>

  

<!-- </div> -->


{% for js in page.js-files %}
     <script type="text/javascript">
     {% include {{ js }} %}
     </script>
{% endfor %}